/* General styles */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 1.6;
    overflow: hidden;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body{
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
}

main{
    height: 95vh;
}

.result-card{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
    max-width: 800px;
    border-radius: 0 0 16px 16px;
    margin: 0 auto;
}


/* ----------------- result card: left/top section ------------- */

.result-card_left{
    background: linear-gradient(hsl(252, 100%, 67%) -19%, hsl(241, 81%, 54%) 95%);
    padding: 2em 2.75em;
    text-align: center;
    border-radius: 0 0 30px 30px;
}

.result-card_left h1{
    font-size: 1.45rem;
    color: hsl(241, 100%, 89%);
}

.result-card_left .result-score{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 80px;
    height: 80px;
    padding: 2.5em;
    border-radius: 50%;
    margin: 1.75em auto 1.25em;
    text-align: center;
}

.result-card_left .result-score strong{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.result-card_left .result-score p{
    color: hsla(221, 100%, 96%, 0.4);
    font-weight: 700;
    margin-top: 0.3em;
}

.result-desc{
    /* border: 2px solid red; */
    padding: 0 3.5em;
}

.result-desc h2{
    color: hsl(0, 0%, 100%);
}

.result-desc p{
    color: hsla(221, 100%, 96%, 0.8);
    margin: 0.25em 0 0.75em;
}


/*  ------------- result card: right/bottom section  ------------- */

.result-card_right{
    padding: 1.75em 2.75em;
}

.result-card_right h2{
    font-size: 1.45rem;
    margin-bottom: 1em;
}

.result-card .summary-cat{
    margin-bottom: 1.45em;
}

.result-card .summary-cat .cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 12px;
}

.result-card .summary-cat .cat .symbol{
    display: flex;
}

.result-card .summary-cat .cat .symbol h3{
    margin-left:0.75em;
    font-size: 1.1rem;
}

.result-card .summary-cat .cat span, .result-card .summary-cat .cat p{
    font-weight: 800;
    color:hsl(224, 30%, 27%);
}

.result-card .summary-cat .cat p{
    color:hsla(224, 30%, 27%, 0.4);
}

.result-card .summary-cat .cat1{
    background: hsl(6, 100%, 98%);
    color: hsl(355, 77%, 72%);
}

.result-card .summary-cat .cat2{
    background: hsl(42, 100%, 97%);
    color:hsl(42, 69%, 56%);
}

.result-card .summary-cat .cat3{
    background: hsl(180, 44%, 96%);
    color: hsl(162, 53%, 55%);
}

.result-card .summary-cat .cat4{
    background: hsl(240, 71%, 97%);
    color: hsl(237, 40%, 47%);
}

.result-card_right button{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 0.75em 1em;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    border-radius: 30px;
    outline: none;
    border: none;
}

@media screen and (min-width:1200px){
    .result-card{
        display: flex;
        margin-top: 5.75em;
        width: 100%;
        max-width: 800px;
        border-radius: 30px;
    }

    .result-card_left{
        /* width: 100%;
        max-width: 400px; */
        flex-basis: 100%;
        border-radius: 30px;
        padding: 2em 1.75em;
    }

    .result-card_right{
        flex-basis: 100%;
        /* width: 100%;
        max-width: 400px; */
        padding: 1.75em ;
    }
}